html {
  --color-1: #463220;
  --color-2: #66593c;
  --color-3: #eceadd;
  --color-4: #f7f8f5;
  --color-5: #ffffff;
  /* 10px */
  --gap-s: 0.625rem;
  /* 20px */
  --gap: 1.25rem;
  box-sizing: border-box;
}

.bg-1 {
  background: var(--color-1);
}

.bg-2 {
  background: var(--color-2);
}

.bg-3 {
  background: var(--color-3);
}

.bg-4 {
  background: var(--color-4);
}

.bg-5 {
  background: var(--color-5);
}

.rounded {
  border-radius: 1.25rem;
}

body {
  font-family: sans-serif;
  margin: 0px;
  color: var(--color-2);
  background: var(--color-4);
}

.box {
  padding: var(--gap);
  border-radius: 1.25rem;
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
}

/* .flex > * {
  flex: 1;
} */

.container {
  display: grid;
}

.mb {
  margin-bottom: var(--gap);
}

.p-s {
  padding: var(--gap-s);
}

.p-m {
  padding: var(--gap);
}

.gap-s {
  gap: var(--gap-s);
}
.gap-m {
  gap: var(--gap);
}

.align-center {
  align-items: center;
}
